@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300&family=Lexend:wght@200;500&display=swap');



.main {
  min-height: 100vh;
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Lexend', monospace;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  font-family: 'Lexend', monospace;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}



.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 2;
  font-size: 2rem;

  width: 100vw;
  background: hsla(333, 100%, 53%, 1);
background: linear-gradient(-90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);



filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1 );
  color: white;
  font-weight: 300;

  background-size: 1800% 1800%;
  
  -webkit-animation: rainbow 10s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
    animation: rainbow 10s ease infinite;}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }




.title,
.description {
  text-align: center;
  
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  color:#8B8080;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid, .gridcal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  display: flex;
  text-align: left;
  color: inherit;
  background-color: aliceblue;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 40px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.iframe{
  width: 100%;
  height: 500px;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.card:hover,
.card:focus,
.card:active {
  color: #EA5815;
  border-color: #EA5815;
  cursor: pointer;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .iframe{
    width: 100%;
    height: 200px;
  }
  .gridcal{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .card{
    width: 100%;
  }
}

.button{
  background-color:#D05E70;
  border-radius: 40px;
  color: white;
  padding: 0.75rem 1.25rem;
  font-size: 1.2rem;
  
  font-weight: 300;
  border: none;
  cursor: pointer;
  margin: 1rem;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #B04D4D;
  border: white 1px solid;
}


.input{
  border-radius: 40px;
  border: none;
  width: 80%;
  padding: 1rem;
  font-size: 1.2rem;
}